# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: a116c5f971f3b74eb21fd8e68b223b4ab61f6495a6349f6a252d54aea9c78e6a8bd7b6641a5752395b60d028f00624b00c7e7fff6ee2841e39fadb776083842c

test:
  secret_key_base: 00f25349e0d56f5e6214c592c97ed8e53382864dcdee79f5b0f305628a9bb67c7cd8a8e67e831ee941c2cfc1736ebaaaf03c19d1c7fd3096c2024d8e34627641

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
